.carousel-inner {
  max-height: 500px;
}

.carousel-item {
  height: 500px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 8s ease-in-out;
  transform: scale(1);
}

/* Overlay escuro */
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  padding: 20px;
}

.carousel-caption h1,
.carousel-caption p {
  background: transparent !important;
}

.info-section {
  background-color: var(--cor-primaria);
  align-content: center;
  height: 16.375rem;
}

.info-section .col-md-4 {
  text-align: center; /* Centraliza tudo dentro da coluna */
}

.icon-home {
  font-size: 1.4rem;
  color: var(--texto-primaria);
  margin-right: 8px;
}

.title-custom {
  margin: 0;
  font-weight: 600;
  color: var(--texto-primaria);
  display: flex;
  align-items: center;
}

.text-custom {
  color: var(--texto-primaria);
}

.text-decoration-custom {
  text-decoration: underline;
  color: var(--texto-secundaria);
  text-decoration-color: var(--texto-secundaria);
}

.info-section .p-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Mobile */
@media (max-width: 992px) {
  .carousel-inner,
  .carousel-item {
    height: 350px;
    max-height: 350px;
  }
}

@media (max-width: 576px) {
  .carousel-inner,
  .carousel-item {
    height: 200px;
    max-height: 200px;
  }
  
  .carousel-caption h1 {
    font-size: 1.2rem;
  }
  
  .carousel-caption p {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .border-md-end {
    border-right: 1px solid #999;
  }
}

@media (max-width: 767px) {
  .info-section .col-md-4 {
    border-bottom: 1px solid #ccc;
  }
  .info-section .col-md-4:last-child {
    border-bottom: none;
  }

  .info-section {
    background-color: white;
    height: auto;
  }

  .card-custom {
    background-color: var(--cor-primaria);
    padding: 2rem;
  }
}


