.titulo-custom {
    color: var(--texto-primaria);
    margin-bottom: 2rem;
    text-align: center;
}

.conteudo-custom {
    background-color: var(--cor-secundaria);
    color: var(--texto-primaria);
    line-height: 1.6;
    font-size: 1.1rem;
    padding: 3rem;
    border-radius: 1rem;
}

.conteudo-custom h3 {
    color: var(--texto-primaria);
    margin-bottom: 1rem;
    font-size: 1.1rem;
}